.container {
  position: relative;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.col {
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.block {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f0f6f2;
  padding: 50px 60px;
  margin-bottom: 20px;
  min-height: 160px;
  :global .p-caption {
    font-family: $baseFont;
    line-height: 1.4;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &._primary {
    flex-grow: 1;
    background: #e0ece4;
  }
}
