.banner {
  position: relative;
  background: transparent;
}

.content {
  display: flex;
  align-items: center;
  padding: 60px 0;

  :global .h5-title {
    padding-right: 30px;
  }
}

.cta {
  flex: 0 0 auto;
  :global .svg-icon {
    font-size: 20px;
  }
}

@include r($lg) {
  .content {
    display: block;
  }
}

@include r($md) {
  .content {
    padding: 42px 0;
  }
}

@include r($sm) {
  .content {
    :global .btn {
      width: 100%;
      justify-content: space-between;
    }
  }
}
