.container {
  padding: 140px 0;
  background: $colorPeach;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 58px 52px;
}

.colLabel {
  margin-bottom: 30px;
}

.colValue {
  display: flex;
  align-items: center;
  padding: 22px 18px 22px 26px;
  background: white;
}

.colTooltip {
  position: relative;
  margin-left: auto;
  :global .svg-icon {
    font-size: 50px;
  }
}

@include r($xl) {
  .container {
    padding: 100px 0;
  }

  .colTooltip {
    :global .svg-icon {
      font-size: 40px;
    }
  }
}

@include r($lg) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

@include r($md) {
  .container {
    padding: 62px 0;
  }

  .colValue {
    padding: 14px 18px 14px 22px;
  }

  .colLabel {
    margin-bottom: 24px;
  }

  .colTooltip {
    :global .svg-icon {
      font-size: 32px;
    }
  }
}
