.checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  &:hover {
    .checbox_label {
      color: $fontColor;
    }
  }
  &._withError {
    border-color: $colorRed;
    color: $colorRed;
    &::placeholder {
      color: rgba($colorRed, 0.5);
    }
  }
  &_wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    z-index: 1;
    cursor: pointer;
  }
  &_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.1px;
    height: 0.1px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  &_box {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 0;
    font-size: 8px;
    border: 2px solid #e6e4f5;
    cursor: pointer;
    color: white;
    transition: background 0.25s $ease, border 0.25s $ease;
    &._isChecked {
      background: $colorAccent;
      border-color: $colorAccent;
      .checkbox_icon {
        opacity: 1;
      }
    }
  }
  &_icon {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &_label {
    font-family: $robotoFont;
    font-size: 20px;
    line-height: 120%;
    padding-left: 10px;
    color: $colorGray;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
