.card {
  display: block;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.25s $ease;
  &:hover {
    box-shadow: none;
    .image {
      filter: grayscale(1);
    }
  }
}

.image {
  font-size: 0;
  transition: filter 0.25s $ease;
  img {
    width: 100%;
  }
}

.content {
  padding: 20px 24px 20px;
}

// .title {
// }

.meta {
  position: relative;
  display: flex;
  margin: 20px -20px 0;
  &::after {
    display: inline-block;
    content: ' ';
    position: absolute;
    background: rgba($colorGray, 0.2);
    height: 1px;
    left: 0;
    right: 0;
    top: 0;
  }
}

.metaCol {
  position: relative;
  flex: 1 1 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
  &::after {
    display: inline-block;
    content: ' ';
    position: absolute;
    background: rgba($colorGray, 0.2);
    width: 1px;
    left: 100%;
    top: 12px;
    bottom: 4px;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}

.metaLabel {
  font-family: $robotoFont;
  font-size: 15px;
  line-height: calc(24 / 15);
  color: $colorGray;
}

.metaValue {
  font-weight: 300;
  font-size: 21px;
  line-height: 1.2;
  letter-spacing: 0.015em;
  color: $colorGray;
}
