.container {
  margin: 115px 0 120px;
}

.grid {
  margin-top: 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px 45px;
}

.blogCard {
  margin-bottom: 35px;
  &:last-child {
    margin-bottom: 0;
  }
}
