.container {
  margin: 115px 0 120px;
}

.grid {
  margin-top: 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px 45px;
}

.teamCard {
  height: 100%;
  &:last-child {
    margin-bottom: 0;
  }
}

@include r($lg) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
  }
}

@include r($md) {
  .container {
    margin: 48px 0 20px;
  }
  .grid {
    margin-top: 26px;
  }
}

@include r($sm) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
