.page {
  display: flex;
  min-height: 100vh;
}

.content {
  width: 100%;
  min-width: 1px;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 110px 0 110px calc((100vw - 1350px) / 2 + 40px);
}

.logo {
  img,
  svg {
    max-width: 440px;
    max-height: 45px;
  }
}

.form {
  margin-top: 110px;
}

.background {
  width: 100%;
  min-width: 1px;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@include r($hd) {
  .content {
    padding-left: 85px;
    padding-right: 50px;
  }
}

@include r($xl) {
  .content {
    padding: 80px 50px;
  }
}

@include r($lg) {
  .content {
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    img,
    svg {
      max-width: 270px;
      max-height: 28px;
    }
  }

  .form {
    margin-top: 40px;
  }

  .background {
    display: none;
  }
}

@include r($md) {
  .content {
    padding: 50px 30px 80px;
  }
}
