.container {
  margin: 60px 0 140px;
}

.cover {
  font-size: 0;
  margin-bottom: 84px;
  img {
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 370px;
  grid-gap: 52px;
}

// .content {
// }

.meta {
  margin-top: 28px;
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  color: $colorGray;
}

.wysiwyg {
  margin-top: 52px;
}

@include r($xl) {
  .container {
    margin: 40px 0 80px;
  }
  .grid {
    grid-template-columns: 1fr 320px;
  }
}

@include r($lg) {
  .container {
    margin-top: 0;
  }

  .cover {
    margin-left: -90px;
    margin-right: -90px;
    margin-bottom: 50px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

@include r($md) {
  .cover {
    margin-left: -30px;
    margin-right: -30px;
  }

  .wysiwyg {
    margin-top: 40px;
  }

  .meta {
    margin-top: 20px;
    font-size: 18px;
  }
}

// share

.share {
  margin-top: 42px;
  margin-right: 80px;
  display: flex;
  justify-content: flex-end;
}

.shareLabel {
  margin-right: 18px;
  font-size: 18px;
  line-height: 100%;
}

.shareList {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -6px;
  padding: 0;

  li {
    display: block;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  button,
  a {
    display: inline-block;
    position: relative;
    padding: 6px !important;
    color: $colorGray !important;
    transition: color 0.25s $ease;

    &:hover {
      color: $colorPrimary !important;
    }

    :global .svg-icon {
      font-size: 18px;

      &--social-facebook {
        font-size: 20px;
      }

      &--social-instagram {
        font-size: 21px;
      }
    }
  }
}

@include r($lg) {
  .share {
    margin-right: 0;
  }
}

@include r($md) {
  .share {
    justify-content: flex-start;
  }
}

// nav
.nav {
  margin-top: 92px;
  border-top: 1px solid #d6d6d6;
}

@include r($xl) {
  .nav {
    margin-top: 60px;
  }
}

@include r($lg) {
  .nav {
    margin-top: 32px;
    border-top: 0;
  }
}

@include r($md) {
  .nav {
    margin-top: 16px;
  }
}

// sidebar
.sidebar {
  top: 0;
}

.about {
  position: relative;
  margin-top: 12px;
}

.aboutImage {
  margin-top: 16px;
  font-size: 0;
  cursor: pointer;
  img {
    width: 100%;
    transition: filter 0.25s $ease;
    will-change: filter;
    transform-style: preserve-3d;
  }
  &:hover {
    img {
      filter: contrast(150%);
    }
  }
}

.aboutDescription {
  margin-top: 30px;
  padding-right: 10px;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.5;
  color: $colorGray;
}

@include r($md) {
  .aboutDescription {
    font-size: 20px;
    line-height: 1.3;
  }
}

// categories
.categories {
  margin-top: 178px;
}

@include r($lg) {
  .categories {
    margin-top: 60px;
  }
}

// .categoriesLabel {
// }

.categoriesList {
  margin: 36px 0 0;
  padding: 0;
  border-top: 1px solid #d6d6d6;
  li {
    display: block;
    border-bottom: 1px solid #d6d6d6;
  }
  a {
    display: inline-block;
    padding: 22px 0;
    font-size: 21px;
    line-height: 1.7;
    transition: color 0.25s $ease;
    &:hover {
      color: $colorPrimary;
    }
  }
}

// recents
.recents {
  margin-top: 96px;
}

.recentsList {
  margin-top: 46px;
}

.recentCard {
  display: flex;
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    .recentCardTitle {
      color: $colorPrimary;
    }
  }
}

.recentCardImage {
  flex: 0 0 100px;
  font-size: 0;
  img {
    width: 100%;
  }
}

.recentCardContent {
  padding: 8px 0;
  padding-left: 40px;
}

.recentCardMeta {
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  color: $colorGray;
}

.recentCardTitle {
  margin-top: 12px;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: color 0.25s $ease;
}

@include r($xl) {
  // .recents {
  // }

  .recentCard {
    margin-bottom: 24px;
  }
  .recentCardImage {
    flex-basis: 90px;
  }

  .recentCardContent {
    padding-left: 24px;
  }
}

@include r($md) {
  .recents {
    margin-top: 48px;
  }

  .recentsList {
    margin-top: 22px;
  }
}
