.container {
  margin: 60px 0 140px;
}

.cover {
  font-size: 0;
  margin-bottom: 84px;
  img {
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 370px;
  grid-gap: 52px;
}

// .content {
// }

.meta {
  margin-top: 28px;
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  color: $colorGray;
}

.wysiwyg {
  margin-top: 52px;
  p {
    font-family: $robotoFont;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.4;
    color: $colorGray;
    & + p {
      margin-top: 1.4em;
    }
  }
  img {
    margin: 44px 0;
    max-width: 100%;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

.share {
  margin-top: 42px;
  margin-right: 80px;
  display: flex;
  justify-content: flex-end;
}

.shareLabel {
  margin-right: 18px;
  font-size: 18px;
  line-height: 100%;
}

.shareList {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -6px;
  padding: 0;

  li {
    display: block;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  button,
  a {
    display: inline-block;
    position: relative;
    padding: 6px !important;
    color: $colorGray !important;
    transition: color 0.25s $ease;

    &:hover {
      color: $colorPrimary !important;
    }

    :global .svg-icon {
      font-size: 18px;

      &--social-facebook {
        font-size: 20px;
      }

      &--social-instagram {
        font-size: 21px;
      }
    }
  }
}

.nav {
  margin-top: 92px;
  display: flex;
  border-top: 1px solid #d6d6d6;
}

.navPrev,
.navNext {
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 40px 45px;
}

.navPrev {
  text-align: right;
  border-right: 1px solid #d6d6d6;
}

// .navNext {
//   padding-left: 45px;
// }

.navLabel {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.43661px;
  text-transform: uppercase;
  color: $colorGray;
}

.navLink {
  margin-top: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: color 0.25s $ease;
  &:hover {
    color: $colorPrimary;
  }
}

.sidebar {
  top: 0;
}

.about {
  position: relative;
  margin-top: 12px;
}

.aboutImage {
  margin-top: 16px;
  font-size: 0;
  img {
    width: 100%;
  }
}

.aboutDescription {
  margin-top: 30px;
  padding-right: 10px;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.5;
  color: $colorGray;
}

.categories {
  margin-top: 178px;
}

// .categoriesLabel {
// }

.categoriesList {
  margin: 36px 0 0;
  padding: 0;
  border-top: 1px solid #d6d6d6;
  li {
    display: block;
    border-bottom: 1px solid #d6d6d6;
  }
  a {
    display: inline-block;
    padding: 22px 0;
    font-size: 21px;
    line-height: 1.7;
    transition: color 0.25s $ease;
    &:hover {
      color: $colorPrimary;
    }
  }
}

.recents {
  margin-top: 96px;
}

.recentsList {
  margin-top: 46px;
}

.recentCard {
  display: flex;
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    .recentCardTitle {
      color: $colorPrimary;
    }
  }
}

.recentCardImage {
  flex: 0 0 100px;
  font-size: 0;
  img {
    width: 100%;
  }
}

.recentCardContent {
  padding: 8px 0;
  padding-left: 40px;
}

.recentCardMeta {
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  color: $colorGray;
}

.recentCardTitle {
  margin-top: 12px;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: color 0.25s $ease;
}
