.container {
  position: relative;
  padding: 120px 0 90px;
  background: url('./assets/decor-faq.svg') no-repeat right top;
}

.list {
  position: relative;
  list-style: none;
  margin: 14px 0 0;
  padding: 0;
}

@include r($xl) {
  .container {
    padding: 90px 0 80px;
    background-image: none;
  }
}

@include r($md) {
  .container {
    padding: 50px 0 56px;
  }
}
