.container {
  position: relative;
  padding: 110px 0;
  background: url('./assets/decor-stats.svg') no-repeat right top;
  background-color: #f4f3fa;
  border-bottom: 2px solid $borderColor;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 45px;
}

.title {
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
}

.col {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;

  &::after {
    display: inline-block;
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;
    width: 1px;
    background: $borderColor;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.colTitle {
  font-weight: 300;
  font-size: 75px;
  line-height: 1.2;
  color: $colorGray;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.colDescription {
  margin: 10px 0 0;
  font-weight: 300;
  font-size: 35px;
  line-height: calc(50 / 35);
  color: $colorGray;
}

@include r($xl) {
  .container {
    padding: 80px 0;
  }
  .colTitle {
    font-size: 64px;
  }

  .colDescription {
    font-size: 30px;
  }
}

@include r($lg) {
  .container {
    padding: 60px 0 48px;
    background-image: none;
  }

  .grid {
    margin-top: 0;
    grid-gap: 12px;
    grid-template-columns: 1fr;
  }

  .col {
    padding: 32px 0 38px;

    &::after {
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
    }
  }
}

@include r($md) {
  .colTitle {
    font-size: 54px;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  }

  .colDescription {
    margin-top: 4px;
    font-size: 26px;
  }
}
