.container {
  margin: 60px 0 120px;
}

.cover {
  font-size: 0;
  margin-bottom: 100px;
  img {
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 370px;
  grid-gap: 52px;
}

// .content {
// }

// .navNext {
//   padding-left: 45px;
// }

.sidebar {
  top: 0;
}

@include r($lg) {
  .grid {
    grid-template-columns: 1fr;
  }
}
