.container {
  position: relative;
  z-index: 1;
  overflow: hidden;
  &._full {
    min-height: -webkit-calc(100vh - 16px);
    min-height: calc(100vh - 16px);
    display: flex;
    flex-direction: column;
  }
}

.close {
  position: fixed;
  z-index: 5;
  top: 32px;
  right: 26px;
  padding: 10px;
  font-size: 0;
  cursor: pointer;
  color: rgba($colorGray, 0.5);
  transition: color 0.25s $ease;
  :global .svg-icon {
    font-size: 26px;
  }
  span {
    display: none;
  }
  &:hover {
    color: $colorRed;
  }
}

.content {
  display: block;
  &._full {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
}

._narrow {
  padding: 24px;
  .close {
    top: 8px;
    right: 8px;
  }
}

._thanks {
  padding: 32px 24px 40px;
  .close {
    top: 10px;
    right: 10px;
  }
}

@include r($md) {
  .close {
    padding: 16px;
    top: 5px;
    right: 5px;
    background: #9891c5;
    border-radius: 50%;
    box-shadow: 0 0.695959px 1.39192px rgba(0, 0, 0, 0.25);
    color: white !important;
    :global .svg-icon {
      font-size: 14px;
    }
    &:hover {
      background: $colorAccent;
    }
  }
}
