.container {
  position: relative;
}

.head {
  padding: 56px 0 72px;
  background: url('./assets/decor-steps.svg') no-repeat right top;
}

.title {
  font-weight: 300;
  font-size: 90px;
  line-height: 1.2;
  letter-spacing: 1.5px;
  color: $colorPrimaryDark;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f4f3fa;
  border-top: 2px solid $borderColor;
  min-height: 500px;
  padding: 20px;
}

.stepImage {
  position: absolute;
  z-index: 1;
  max-width: 100%;
}

.stepText {
  position: relative;
  z-index: 2;
  font-family: $robotoFont;
  font-size: 24px;
  line-height: 1.4;
  color: $colorPrimaryDark;
  max-width: 295px;
}

@include r($xl) {
  .head {
    background-image: none;
  }
  .title {
    font-size: 64px;
  }
}

@include r($lg) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

@include r($md) {
  .head {
    padding: 32px 0 40px;
  }
  .title {
    font-size: 44px;
  }

  .step {
    min-height: 340px;
  }
  .stepImage {
    transform: scale(0.7);
  }

  .stepText {
    font-size: 18px;
    max-width: 200px;
  }
}
