.btn {
  font-weight: 500;
  font-family: $baseFont;
  font-size: 28px;
  line-height: 1;
  padding: 24px 30px 26px;
  border-radius: 0;
  border: 2px solid transparent;
  transition: background 0.25s $ease, color 0.25s $ease;

  &._primary {
    background: $colorPrimary;
    color: white;

    &:hover {
      background: #4d74fd;
    }

    &._outline {
      background: transparent;
      border: 2px solid $colorPrimary;
      padding: 14px 24px;
      color: $colorPrimary;

      &:hover {
        color: white;
        background: $colorPrimary;
      }
    }

    &[disabled] {
      color: rgba(black, 0.3);
      border-color: rgba(black, 0.3);
      cursor: not-allowed;
      pointer-events: none;

      &:hover {
        background: transparent;
        color: rgba(black, 0.3);
        border-color: rgba(black, 0.3);
      }
    }
  }

  &._accent {
    background: $colorAccent;
    color: white;

    &:hover {
      background: rgba($colorAccent, 0.8);
    }

    &._outline {
      background: transparent;
      border: 2px solid rgba($colorAccent, 0.3);
      color: $colorAccent;

      &:hover {
        color: white;
        background: $colorAccent;
        border-color: $colorAccent;
      }
    }
  }

  &._dark {
    background: $fontColor;
    color: white;

    &:hover {
      background: rgba($fontColor, 0.8);
    }

    &._outline {
      background: transparent;
      border: 2px solid rgba($fontColor, 0.3);
      color: $fontColor;

      &:hover {
        color: white;
        background: $fontColor;
        border-color: $fontColor;
      }
    }
  }

  &._gray {
    background: $colorGray;
    color: white;

    &:hover {
      background: rgba($colorGray, 0.8);
    }

    &._outline {
      background: transparent;
      border: 2px solid rgba($colorGray, 0.3);
      color: $colorGray;

      &:hover {
        color: white;
        background: $colorGray;
        border-color: $colorGray;
      }
    }
  }

  &._white {
    background: white;
    color: $colorAccent;

    &:hover {
      background: rgba(white, 0.8);
    }

    &._outline {
      background: transparent;
      border: 2px solid $colorAccent;
      color: white;

      &:hover {
        color: white;
        background: $colorAccent;
        border-color: $colorAccent;
      }
    }
  }

  &._muted {
    background: #b7b1e7;
    color: white;

    &:hover {
      background: rgba(#b7b1e7, 0.8);
    }

    &._outline {
      background: transparent;
      border: 2px solid rgba(#b7b1e7, 0.3);
      color: #b7b1e7;

      &:hover {
        color: white;
        background: #b7b1e7;
        border-color: #b7b1e7;
      }
    }
  }

  // variants
  &._small {
    font-size: 20px;
    padding: 11px 25px 15px;
  }

  &._big {
    font-size: 38px;
    padding: 28px 30px 30px;
  }

  &._block {
    display: block;
    width: 100%;
  }

  // icons
  &._iconed {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &._iconLeft {
    svg {
      margin-right: 16px;
    }
  }

  &._iconRight {
    svg {
      margin-left: 16px;
    }
  }

  &._loading {
    position: relative;
    // font-size: 0;
    color: transparent;

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  &[disabled] {
    background: rgba($colorGray, 0.3);
    color: white;
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
      background: rgba($colorGray, 0.3);
    }
  }
}

@include r($md) {
  .btn {
    font-size: 26px;
    padding: 20px 26px 20px;
  }
}
