.filter {
  margin-left: auto;
}

.dropdown {
  position: absolute;
  top: calc(100% + 30px);
  z-index: 10;
  right: 0;
  min-width: 1px;
  opacity: 0;
  pointer-events: none;
  background: #f4f3fa;
  will-change: opacity;
  transition: opacity 0.25s $ease;
  overflow: hidden;
  &::before {
    display: inline-block;
    content: ' ';
    position: absolute;
    top: -16px;
    right: 10%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17.5px 22px 17.5px;
    border-color: transparent transparent white transparent;
  }
  &._opened {
    opacity: 1;
    pointer-events: all;
  }
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.groups {
  padding: 40px;
}

.section {
  display: flex;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}

.sectionLabel {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 0 0 110px;
  min-height: 90px;
  padding: 14px;
  font-size: 13px;
  line-height: 1;
  color: $colorPrimaryDark;
}

.sectionIcon {
  font-size: 0;
  color: $colorPrimaryDark;
  text-align: center;
  :global .svg-icon {
    font-size: 32px;
    margin-bottom: 6px;
  }
}

.sectionContent {
  flex: 1 1 auto;
  min-width: 1px;
  padding: 30px 40px;
  background: rgba(white, 0.5);
}

.sectionBtnRadio {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 4px;
  :global .btn {
    padding: 10px 20px;
    font-size: 12px;
  }
}

.tags {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px;
  grid-gap: 15px;
}

.tag {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f4f3fa;
  padding: 20px 14px 10px;

  span {
    display: inline-block;
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.5;
    color: $colorPrimaryDark;
  }
}

.tagIcon {
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  color: $colorPrimaryDark;
  :global .svg-icon {
    font-size: 32px;
    &.svg-icon--filter-gym {
      font-size: 26px;
    }
    &.svg-icon--filter-deck,
    &.svg-icon--filter-bar {
      font-size: 30px;
    }
    &.svg-icon--filter-beach,
    &.svg-icon--filter-conceirge,
    &.svg-icon--filter-playarea,
    &.svg-icon--filter-ev {
      font-size: 36px;
    }
  }
}

@include r($xl) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@include r($lg) {
  .filter {
    :global .btn {
      padding-left: 20px;
      padding-right: 20px;
    }
    :global .btn .svg-icon {
      margin-right: 0;
    }
  }
}

@include r($md) {
  .dropdown {
    left: 0;
    &::before {
      right: 20px;
    }
  }

  .groups {
    padding: 0;
  }

  .section {
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0;
  }

  .sectionLabel {
    flex: 0 0 100%;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    min-height: 48px;
  }

  .sectionContent {
    flex: 0 0 100%;
    padding: 24px 22px;
  }

  .sectionBtnRadio {
    grid-template-columns: repeat(3, 1fr);
  }

  .sectionIcon {
    :global .svg-icon {
      font-size: 24px;
      margin-bottom: 0;
      margin-right: 12px;
    }
  }
}

@include r($sm) {
  .tags {
    padding: 22px 30px;
  }
  .tag {
    padding: 16px 12px 10px;
    span {
      font-size: 11px;
    }
  }

  .tagIcon {
    min-height: 30px;
    :global .svg-icon {
      font-size: 26px;
      &.svg-icon--filter-gym {
        font-size: 22px;
      }
      &.svg-icon--filter-deck,
      &.svg-icon--filter-bar {
        font-size: 25px;
      }
      &.svg-icon--filter-beach,
      &.svg-icon--filter-conceirge,
      &.svg-icon--filter-playarea,
      &.svg-icon--filter-ev {
        font-size: 30px;
      }
    }
  }
}
