.banner {
  position: relative;
  background-repeat: no-repeat;
  background-position: right top;
  &._lilac {
    background-color: #f4f3fa;
    background-image: url('./assets/heroBanner-decor-lilac.svg');

    .box {
      background: transparent;
    }
    .content {
      max-width: 1170px;
      :global .p-caption {
        max-width: 920px;
      }
    }
  }
}

.box {
  background: #e0ece4;
  min-height: 724px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  margin-top: 60px;
}

.content {
  max-width: 888px;
}

@include r($xl) {
  .banner {
    &._lilac {
      background-image: none;
    }
  }
  .box {
    min-height: 600px;
  }
  .content {
    max-width: 620px;
  }
  .description {
    margin-top: 40px;
  }
}

@include r($md) {
  .banner {
    &._lilac {
      .box {
        padding-left: 24px;
        padding-right: 24px;
      }
      :global .h0-title {
        br {
          display: none;
        }
      }
    }
  }
  .box {
    min-height: 460px;
    padding: 30px 46px;
  }
  .description {
    margin-top: 20px;
  }
  .content {
    max-width: 420px;
  }
}
