.container {
  position: relative;
  margin-top: 16px;
  margin-bottom: 52px;
}

.title {
  font-weight: 300;
  font-size: 66px;
  line-height: 1.2;
  color: #9891c5;
}

.box {
  margin-top: 52px;
  background: #f4f3fa;
  padding: 72px 94px;
}

.boxTitle {
  font-weight: 500;
}

.grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
}

.colTitle {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 32px;
}

.colDescription {
  font-family: $robotoFont;
  font-size: 26px;
  line-height: 1.3;
  color: $colorGray;
}

.colList {
  list-style: none;
  margin: 32px 0;
  padding: 0;
  li {
    display: block;
    position: relative;
    margin-bottom: 15px;
    font-family: $robotoFont;
    font-size: 26px;
    line-height: 1.3;
    color: $colorGray;
    padding-left: 36px;
    :global .svg-icon {
      position: absolute;
      left: 0;
      top: 6px;
      color: $colorAccent;
      font-size: 21px;
    }
    &::before {
      display: inline-block;
    }
  }
}

.colSource {
  margin-top: 26px;
  padding-top: 42px;
  border-top: 1px solid $borderColor;
  font-family: $robotoFont;
  font-size: 26px;
  line-height: 1.3;
}

@include r($xl) {
  .title {
    font-size: 60px;
  }

  .box {
    padding: 60px 38px;
  }

  .grid {
    grid-gap: 40px;
  }

  .colTitle {
    font-size: 26px;
  }

  .colDescription {
    font-size: 22px;
  }

  .colList {
    li {
      font-size: 22px;
      :global .svg-icon {
        top: 4px;
        font-size: 18px;
      }
    }
  }

  .colSource {
    padding-top: 30px;
    font-size: 22px;
  }
}

@include r($lg) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@include r($md) {
  .container {
    margin-top: 0;
    margin-bottom: 0;
  }

  .title {
    font-size: 34px;
  }

  .box {
    margin-top: 36px;
    padding: 36px 38px;
  }

  .boxTitle {
    font-size: 26px;
  }

  .grid {
    margin-top: 20px;
    grid-gap: 20px;
  }

  .colTitle {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .colDescription {
    font-size: 18px;
  }

  .colList {
    margin: 24px 0;
    li {
      font-size: 18px;
      margin-bottom: 14px;
      padding-left: 32px;
      :global .svg-icon {
        top: 4px;
        font-size: 18px;
      }
    }
  }

  .colSource {
    margin-top: 34px;
    margin-left: -22px;
    margin-right: -22px;
    padding-top: 24px;
    font-size: 18px;
  }
}
