.container {
  position: relative;
  max-width: 440px;
}

.head {
  text-align: center;
}

.description {
  margin-top: 16px;
  font-family: $robotoFont;
  font-size: 20px;
  line-height: 1.2;
  color: $colorGray;
}

.form {
  margin-top: 32px;
  :global .input {
    margin-bottom: 20px;
  }
}

.helpers {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  a {
    display: inline-block;
    font-size: 20px;
    color: $colorAccent;
    transform: translateY(-0.15em);
    transition: color 0.25s $ease;
    &:hover {
      color: $colorPrimary;
    }
  }
  :global .checkbox {
    flex: 1 1 auto;
    padding-right: 16px;
  }
}

.cta {
  margin-top: 42px;
}

.helper {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.2;
  color: $colorGray;
  text-align: center;
  a {
    color: $colorAccent;
    transition: color 0.25s $ease;
    &:hover {
      color: $colorPrimary;
    }
  }
}

@include r($md) {
  .form {
    margin-top: 24px;
  }
  .description {
    font-size: 18px;
  }

  .cta {
    margin-top: 32px;
  }
}

@include r($sm) {
  .helpers {
    flex-direction: column;
    align-items: flex-start;
    :global .checkbox {
      padding-right: 0;
    }
    a {
      margin-top: 16px;
      font-size: 18px;
    }
  }
}
