.banner {
  position: relative;
  padding: 68px 0;
  background: url('./assets/decor-textBanner.svg') no-repeat left 6%;
}

.content {
  text-align: center;
  p {
    margin-top: 12px;
  }
}

@include r($lg) {
  .banner {
    padding: 52px 0 40px;
    background-image: none;
  }
  .content {
    p {
      margin-top: 16px;
    }
  }
}
