.footer {
  position: relative;
  background: #f4f3fa;
  padding-bottom: 80px;
  border-top: 2px solid $borderColor;
}

.menuTitle {
  color: $colorGray;
  :global .svg-icon {
    display: none;
    position: absolute;
    right: 0;
    top: 22px;
    font-size: 16px;
    color: rgba($colorGray, 0.2);
    pointer-events: none;
    transition: color 0.25s $ease, transform 0.25s $ease;
  }
}

.main {
  padding: 80px 0;
  border-bottom: 2px solid $borderColor;
}

.menuList {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: block;
    margin-top: 20px;
  }
  a {
    display: inline-block;
    position: relative;
    padding: 6px 0;
    font-family: $robotoFont;
    font-size: 21px;
    line-height: (25 / 21);
    color: $colorGray;
    transition: color 0.25s $ease;
    &:hover {
      color: $colorPrimary;
    }
  }
}

.subscribe {
  position: relative;
  max-width: 375px;
  padding-right: 30px;
  form {
    position: relative;
    margin-top: 42px;
    width: 100%;
  }
}

.subscribeInput {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  padding: 18px 70px 27px 0;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.286364px;
  color: $fontColor;
  background: transparent;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid $borderColor;
  transition: border 0.25s $ease;
  &::placeholder {
    color: rgba($colorGray, 0.5);
  }
  &:active,
  &:focus {
    border-color: $colorGray;
  }
  &.error {
    color: $colorRed;
    border-color: $colorRed;
  }
}

.subscribeButton {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  padding: 0;
  border-radius: 11px 11px 0 0;
  background: $colorGray;
  color: white;
  transition: background 0.25s $ease;
  :global .svg-icon {
    font-size: 20px;
  }
  &:hover {
    background: $colorPrimary;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.bottomMenu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  li {
    display: block;
    margin-right: 56px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: inline-block;
    position: relative;
    padding: 6px 0;
    color: $colorGray;
    font-weight: 300;
    font-size: 21px;
    line-height: (31 / 21);
    transition: color 0.25s $ease;
    &:hover {
      color: $colorPrimary;
    }
  }
}

.bottomSocials {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -6px;
  padding: 0;
  li {
    display: block;
    margin-right: 42px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: inline-block;
    position: relative;
    padding: 6px;
    color: $colorGray;
    transition: color 0.25s $ease;
    &:hover {
      color: $colorPrimary;
    }
    :global .svg-icon {
      font-size: 24px;
      &--social-facebook {
        font-size: 27px;
      }
      &--social-instagram {
        font-size: 30px;
      }
    }
  }
}

@include r($xl) {
  .footer {
    padding-bottom: 70px;
  }
  .menuList {
    a {
      font-size: 18px;
    }
  }
  .bottomMenu {
    a {
      font-size: 18px;
    }
  }
}

@include r($lg) {
  .main {
    padding: 52px 0;
    :global .col-5 {
      order: 2;
    }
  }
  .subscribe {
    margin-top: 24px;
    form {
      margin-top: 24px;
    }
  }
  .menuList {
    a {
      font-size: 18px;
    }
  }
  .bottomSocials {
    li {
      margin-right: 24px;
    }
  }
}

@include r($md) {
  .main {
    padding: 40px 0 52px 0;
    border-bottom: 0;
  }

  .menuTitle {
    position: relative;
    padding: 20px 0;
    transition: color 0.25s $ease;
    :global .svg-icon {
      display: block;
    }
    &:hover {
      color: $colorPrimary;
      :global .svg-icon {
        color: $colorPrimaryDark;
      }
    }
    &::after,
    &::before {
      display: inline-block;
      content: ' ';
      position: absolute;
    }
    &::after {
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: $borderColor;
      transition: opacity 0.15s $ease, transform 0.15s $ease;
      will-change: transform;
    }
    &._active {
      color: $fontColor;
      &::after {
        opacity: 0;
        transform: translateY(-4px);
      }
      :global .svg-icon {
        transform: rotate(180deg);
      }
    }
  }

  .menuList {
    display: none;
    li {
      margin-top: 8px;
      &:first-child {
        margin-top: 0;
      }
    }
    &._active {
      display: block;
    }
  }

  .subscribe {
    margin-top: 18px;
    padding-right: 0;
    form {
      margin-top: 18px;
    }
    :global .h5-title {
      font-size: 21px;
    }
  }

  .subscribeInput {
    padding: 14px 54px 21px 0;
    font-size: 18px;
  }

  .subscribeButton {
    width: 54px;
    height: 54px;
  }

  .bottom {
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .bottomMenu {
    justify-content: space-between;
    a {
      font-size: 16px;
    }
  }

  .bottomSocials {
    margin-bottom: 16px;
    justify-content: center;
  }
}
