.intro {
  position: relative;
  background: #f4f3fa;
  border-top: 2px solid $borderColor;
}

.box {
  position: relative;
  padding: 95px 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.col {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  &::after {
    display: inline-block;
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;
    width: 1px;
    background: $borderColor;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}

.description {
  margin-top: 24px;
  max-width: 295px;
  margin-left: auto;
  margin-right: auto;
}

@include r($xl) {
  .description {
    max-width: 260px;
  }
}

@include r($lg) {
  .box {
    padding: 20px 0 32px;
  }
  .grid {
    display: block;
  }
  .col {
    padding: 40px 0;
    &::after {
      right: 0;
      left: 0;
      top: auto;
      bottom: 0;
      width: 100%;
      height: 1px;
    }
  }
  .description {
    margin-top: 16px;
  }
}
