.container {
  position: relative;
  padding: 140px 0 154px;
  background: #e0ece4;
}

.tooltipTrigger {
  position: relative;
  &::after {
    display: inline-block;
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: $colorPrimary;
  }
}

.menu {
  list-style: none;
  margin: 100px 0 0;
  padding: 0;
  li {
    position: relative;
    display: block;
    margin-bottom: 42px;
    font-family: $robotoFont;
    font-size: 34px;
    line-height: 1.2;
    padding-left: 52px;
    color: $colorGray;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      display: inline-block;
      content: ' ';
      position: absolute;
      left: 22px;
      top: 16px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $colorGray;
    }
  }
}

@include r($xl) {
  .container {
    padding: 100px 0 120px;
  }

  .menu {
    margin-top: 70px;
    li {
      font-size: 28px;
    }
  }
}

@include r($md) {
  .container {
    padding: 60px 0 60px;
  }

  .menu {
    margin-top: 48px;
    li {
      padding-left: 30px;
      font-size: 20px;
      margin-bottom: 30px;
      &::before {
        left: 12px;
        top: 10px;
        width: 4px;
        height: 4px;
      }
    }
  }
}
