.banner {
  position: relative;
  background-repeat: no-repeat;
  background-position: right top;
  background-image: url('./assets/propertyBanner-decor.svg');
  background-color: rgba(231, 237, 248, 0.56);
}

.image {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  font-size: 0;
  width: 100%;
  max-width: 70%;
  img {
    max-width: 100%;
  }
}

.content {
  position: relative;
  z-index: 2;
  min-height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 40px;
}

.contentWrapper {
  max-width: 690px;
  margin-left: auto;
}

.subtitle {
  font-weight: 400;
  margin-bottom: 22px;
  color: $colorGray;
}

.sign {
  margin-top: 58px;
  text-align: right;
  margin-right: 30px;
}

@include r($hd) {
  .contentWrapper {
    max-width: 620px;
  }
}

@include r($xl) {
  .banner {
    display: flex;
    flex-direction: column;
  }
  .image {
    position: static;
    max-width: 100%;
    order: 2;
  }
  .content {
    padding: 40px 0 30px;
    order: 1;
    justify-content: flex-start;
    min-height: 1px;
  }

  .contentWrapper {
    margin-left: 0;
    max-width: 620px;
  }

  .subtitle {
    font-size: 24px;
  }

  .sign {
    margin-top: 34px;
  }
}

@include r($md) {
  .banner {
    background-image: none;
  }
  .content {
    padding-left: 10px;
  }
  .subtitle {
    font-size: 20px;
    margin-bottom: 6px;
  }

  .sign {
    margin-top: 16px;
    text-align: left;
  }
}
